<% content_for :title, "##{@pokemon.id} - #{@pokemon.name}" %>
<h1 class="my-4">Pokemon #<%= @pokemon.id %><br class="d-block d-md-none"> <%= @pokemon.name %></h1>
<div id="pokemon-entry" class="row">
  <div class="col-12">
    <table class="table table-striped table-dark table-hover">
      <tr>
        <td>ID:</td>
        <td><%= @pokemon.id %></td>
      </tr>
      <tr>
        <td>Name:</td>
        <td><%= @pokemon.name %></td>
      </tr>
      <tr>
        <td>Types:</td>
        <td>
          <ul class="px-1">
            <% @pokemon.types.each do |type| %>
              <li><%= type.name %></li>
            <% end %>
          </ul>
        </td>
      </tr>
      <tr>
        <td>Shape:</td>
        <td><%= @pokemon.shape %></td>
      </tr>
      <tr>
        <td>Weight:</td>
        <td><%= @pokemon.weight %> hectograms</td>
      </tr>
      <tr>
        <td>Height:</td>
        <td><%= @pokemon.height %> decimetres</td>
      </tr>
      <tr>
        <td>Capture Rate:</td>
        <td><%= @pokemon.capture_rate %>%</td>
      </tr>
      <tr>
        <td>Sprite:</td>
        <td><img src="<%= @pokemon.sprite %>" alt="<%= @pokemon.sprite %>-sprite"></td>
      </tr>
    </table>
  </div>
</div>
